<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href={% url 'home' %}>Nexus</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {% if user.is_staff  %}
      
      <li class="nav-item">
        <a class="nav-link" href={% url 'dashboard' %}>Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'products' %} >Product</a>
      </li>

      {% else %}

            <li class="nav-item">
        <a class="nav-link" href={% url 'settings' %} >Settings</a>
      </li>
      {% endif %}      

    </ul>

    {% if user.username %}
     <span class="nav-item mr-3">Hello,{{user}}</span>
    <a class="nav-item btn btn-outline-primary" href={% url 'logout' %}>Log Out</a>

    {% else %}
        <a class="nav-item btn btn-success mr-3" href={% url 'login' %}>Log In</a>
    <a class="nav-item btn btn-outline-primary" href={% url 'register' %}>Sign up</a>
    {% endif %}


    {% comment %} <a class="nav-item text-light nav-link" href="logout/">Log Out</a> {% endcomment %}
  </div>

</nav>
