{% extends 'base.html' %}
{% block content %}

<br>

<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a href={% url 'profile' %} class="btn btn-warning"> Back to Profile </a>

            <hr>
            <h3 class="text-center">Account Settings</h3>
            <hr>
            <img src="{{user.customer.profile_pic.url}}" alt="" class="profile-pic">

        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body pb-5">
            <form action="" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{form.as_p}}
                <input type="submit" class="btn btn-primary" name="update info">
                 {% for message in messages  %}
                 <div class="mt-4">
                   <span class="alert alert-success">{{message}}</span>
                 </div>
                  
                   {% endfor %}
            </form>
        </div>
    </div>
</div>

{% endblock content %}


